# Python
*.pyc
__pycache__/

# Entornos virtuales
.venv/
venv/
.env

# Base de datos local
db.sqlite3

# Archivos generados por Django
/media/
staticfiles/
*.log

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
